*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
/* CODIFICACION GRID */
/* --------------------------------------------------------- */


/* ---------------------------------------------------------------*/
body{ 
    background-color: black;
}
/* ---------------------------------------------------------------*/




/* header ---------------------------------------*/
header{
    background-color: rgba(9, 127, 127, 0.608);
}
/* ---------------------------------------------------------------*/




/* NAV ---------------------------------------*/
nav{
    background-color: azure;
}
/* ---------------------------------------------------------------*/




/* ASIDE ---------------------------------------*/
aside{
    background-color: brown;
}
/* ---------------------------------------------------------------*/




/* MAIN ---------------------------------------*/
main{
    background-color: blueviolet;
}
/* ---------------------------------------------------------------*/





/* FOOTER ---------------------------------------*/
footer{
    background-color: chocolate;
}
/* ---------------------------------------------------------------*/



@media (max-width: 600px) {
    
}