*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
/* ---------------------------------------------------------------*/
body{ 
    background-color: rgb(180, 179, 179);
   
}
/* CODIFICACION GRID */
/* --------------------------------------------------------- */
.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: repeat(2,60px) 1fr 60px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "aside content"
    "footer footer"
    ;
    gap: 0.3rem;

}
/* ---------------------------------------------------------------*/

/* header ---------------------------------------*/
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: rgba(9, 127, 127, 0.608);
}
/* ---------------------------------------------------------------*/




/* NAV ---------------------------------------*/
.nav{
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    background-color: azure;
}
/* ---------------------------------------------------------------*/




/* ASIDE ---------------------------------------*/
.aside{
    grid-area: aside;
    background-color: brown;
}
/* ---------------------------------------------------------------*/




/* MAIN ---------------------------------------*/
.content{
    grid-area: content;
    background-color: blueviolet;
}
/* ---------------------------------------------------------------*/





/* FOOTER ---------------------------------------*/
.footer{
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background-color: chocolate;
}
/* ---------------------------------------------------------------*/



@media (max-width: 600px) {

    
}